<%= form_for @edit_domain, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :timezone, :class => 'control-label' %>
    <div class="controls">
	  <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, :include_blank => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :system_flag, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :system_flag, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                domains_path, :class => 'btn' %>
  </div>
<% end %>
